.container-header {
  width: 100vw;
  height: 30px;
  background-color: #ddd;

  .header {
    color: #000;
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    padding: 0 50px;

    .title {
      margin: auto 0;
    }
  }
}
